
.main-container {
  position: relative;
  padding: $px12;
  background-image: url("@/assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  transition: 0s all !important;

  @media screen and (min-width: 601px) {
    transition: .17s all !important;
  }

  @media screen and (max-width: 600px) {
    min-height: 100vh;
  }
}

.msg {
  position: relative;
  width: auto;
  min-width: 100px;
  max-width: 70%;
  height: auto;
  padding: 25px 25px 35px;
  margin: 20px 15px 0 15px;
  background: #FFF;
  border-radius: 7px;
  clear: both;
  color: #000000;

  @media screen and (max-width: 1024px) {
    padding: 15px;
    margin: 10px 8px 0 8px;
  }

  @media screen and (max-width: 600px) {
    max-width: 90%;
  }

  &-wr {
    display: flex;
    flex-direction: column-reverse;
  }

  &-date {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 6px;
    color: $gray;
    user-select: none;

    @media screen and (max-width: 1024px) {
      font-size: 10px;
      bottom: 2px;
    }
  }
}
